<h2>ADD AN AUTHOR</h2>

<form action="/authors" method="POST">
    <input type="text" name="name" placeholder="Name...">
    <input type="number" name="mustacheSize" placeholder="you know, in cm">
    <br>
    <input type="submit" value="Add Author">
</form>